# Django
api/*.log
api/*.pot
api/*.pyc
api/api/__pycache__
api/core/__pycache__

api/core/migrations
api/local_settings.py
api/db.sqlite3
api/db.sqlite3-journal
api/media

# Vue
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/.npm
frontend/.eslintcache
frontend/node_modules
frontend/env.development